body {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  padding: 2px 1px 2px 0px;
}

td {
  vertical-align: middle !important;
}

.icon {
  width: 64px;
  height: 64px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.champion-bg {
  position: relative;
  border-style: solid;
  border-color: #333;
  border-width: 2px;
  margin-top: 20px;
}

.champion-bg img {
  width: 100%;
}

.champion-bg-name {
  position: absolute;
  top: 10px;
  left: 40px;
}

.champion-bg-stat {
  position: absolute;
  padding: 0px 20px 15px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 120px;
}

.champion-bg-win-rate {
  left: 70px;
}

.champion-bg-pick-rate {
  left: 280px;
}

.champion-bg-damage {
  left: 490px;
}

.arrow {
  padding-left: 10px;
  padding-right: 10px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer {
  color: #999;
}